<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> Admin </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{> navigation}}
      <div class="row" style="margin-left: 10%; margin-right: 10%; padding-top: 15%;">
        <div class="list-group col-sm-3">
            <div class="adminColumn list-group-item list-group-item-action"><a href="admins.hbs" class="btn mb-0 btn-lg">User</a></div>
        </div>
        <div class="list-group col-sm-3">
            <div class="adminColumn list-group-item list-group-item-action"><a href="#" class="btn mb-0 btn-lg">Export</a></div>
        </div>
        <div class="list-group col-sm-3">
            <div class="adminColumn list-group-item list-group-item-action"><a href="#" class="btn mb-0 btn-lg">Mission Creation</a></div>
        </div>
        <div class="list-group col-sm-3">
            <div class="adminColumn list-group-item list-group-item-action"><a href ="#" class="btn mb-0 btn-lg">Incident Report</a></div>
        </div>
      </div>
</body>
</html>