<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> Bus Book </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{> navigation}}
  
  <div class="row" style="margin-left: 10%; margin-right: 10%;">
      <div class="list-group col-sm-4 contentCol">
        <a href="/pdf_viewer" class="contentCol"><div class="contentColumn list-group-item list-group-item-action">Itinerary</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Key Contacts</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Crew Assignments</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Advance Crew Checklist</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Arlington Information</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Arlington Reservation</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Navy Yard and Museum Information</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">DC Tour Notes</div></a>
      </div>
      <div class="list-group col-sm-4">
          <a href="#" class="contentCol"><div class="contentColumn list-group-item list-group-item-action">Incident Report Forms H132</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">Hilton Fire Alarm Evac Procedure H102</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">Hilton Crisis Plan</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">POW MIA Ceremony</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">Banquet Script</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">Fact Sheet</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">Crew Information</div></a>
          <a href="#"><div class="contentColumn list-group-item list-group-item-action">National Spreadsheet</div></a>
      </div>
      <div class="list-group col-sm-4">
        <a href="#" class="contentCol"><div class="contentColumn list-group-item list-group-item-action">Bus Lists</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Veteran and Guardian Phone Numbers</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Hilton Room Assignments</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Veteran Service Notes</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Plane Boarding List</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Roll Call Sheets</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">Hotel Check In List Sunday</div></a>
        <a href="#"><div class="contentColumn list-group-item list-group-item-action">SWA Passenger List</div></a>
      </div>
  </div>
</body>
</html>
