<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> Bus Book </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- <script src="js/scripts.js"></script> -->
    <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2>HONOR FLIGHT <span class="bold">BUS BOOK<span></h2>
        <h1><span class="bold">MISSION 66</span> 
      </div>  
    </div> 
    {{!-- This is Honor Fight Image --}}
    {{!-- <div class="col-sm-3">
      <div class="card">
        <img src="../images/HonorFlightPlane2.png" class="card-img-top" style="max-width: 200px; background-color:white;" alt="Honor Flight"></h1>  
      </div>
    </div>  --}}
  </div>

  <div class="container">
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-action">Itinerary</a>
      <a href="#" class="list-group-item list-group-item-action">Key Contacts</a>
      <a href="#" class="list-group-item list-group-item-action">Crew Assignments</a>
      <a href="#" class="list-group-item list-group-item-action">Arlington Information</a>
      <a href="#" class="list-group-item list-group-item-action">Arlington Reservation</a>
      <a href="#" class="list-group-item list-group-item-action">Navy Yard and Museum Information</a>
      <a href="#" class="list-group-item list-group-item-action">Incident Report Forms H132</a>
      <a href="#" class="list-group-item list-group-item-action">Hilton Fire Alarm Evac Procedure H102</a>
      <a href="#" class="list-group-item list-group-item-action">Hilton Crisis Plan</a>
      <a href="#" class="list-group-item list-group-item-action">POW MIA Ceremony</a>
      <a href="#" class="list-group-item list-group-item-action">Banquet Script</a>
      <a href="#" class="list-group-item list-group-item-action">Fact Sheet</a>
      <a href="#" class="list-group-item list-group-item-action">Crew Information</a>
      <a href="#" class="list-group-item list-group-item-action">Bus Lists</a>
      <a href="#" class="list-group-item list-group-item-action">Veteran and Guardian Phone Numbers</a>
      <a href="#" class="list-group-item list-group-item-action">Hilton Room Assignments</a>
      <a href="#" class="list-group-item list-group-item-action">Veteran Service Notes</a>
      <a href="#" class="list-group-item list-group-item-action">Plane Boarding List</a>
      <a href="#" class="list-group-item list-group-item-action">Roll Call Sheets</a>
      <a href="#" class="list-group-item list-group-item-action">Hotel Check In List Sunday</a>
      <a href="#" class="list-group-item list-group-item-action">SWA Passenger List</a>
    </div>
  </div>
</body>
</html>
