<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> </title>
  <link rel="stylesheet" href="/css/style.scss">
</head>

<body>
  <h1 class="yur"> yur </h1>
</body>
</html>