<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> Admin </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
      {{> navigation}}
      <br>
        <table class="table">
        <thead>
            <tr class="table-active">
                <th scope="col" style=" padding-left: 1%; width: 20%;">NAME</th>
                <th scope="col" style="width: 64%;">ROLE</th>
                <th scope="col" style="width: 15%;" >BUS</th>
                <th scope="col">TEAM</th>
            </tr>
        </thead>
        {{#each users}}
        <tbody>
            <tr>
                <th scope="row"><a href = "/admins/{{this.admin_id}}" class="btn mb-0 btn-lg">{{ this.username }}</a></th>
                <td class='yur'>role</td>
                <td><i class="fa fa-bus bus_2"><p> Can not be shown </p></i></td>
                {{#if this.how_heard}}
                    <td></td>
                {{else}}
                    <td>Can not be shown</td>
                {{/if}}
            </tr>
        </tbody>
        {{/each}}
    </table>


</body>
</html>