  
  <div class="bus-nav">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4C65E4;"> <a class="navbar-brand aNavTitle" href="#" data-abc="true">Honor Flight BUS BOOK</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <img src="img/honor_flight.png" class="card-img-top" style="max-width: 20px; background-color:white;" alt="Honor Flight">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto" style="color: white;">
                <li class="nav-item active"> <a class="nav-link" href="#" data-abc="true">Home <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Book</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Veterans</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Admin</a> </li>
            </ul>
        </div>
    </nav>
  </div> 