 <div class="bus-nav" style="color:  white;">
  <nav class="navbar navbar-expand-lg "> <a class="navbar-brand " href="#" data-abc="true">Honor Flight BUS BOOK</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto" style="color: white;">
            <li class="nav-item active"> <a class="nav-link" href="#" data-abc="true">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Book</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Veterans</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Admin</a> </li>
        </ul>
    </div>
</nav>
</div>