.yur {
    color:red;
}

/* BASIC */
.bus-nav ul li a {
    color: white;
}

.nav-item {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}

button.logoutButton {
    background-color: #4C65E4; 
    border: none;
    color: #FFFFFF80;
}

button.logoutButton:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}

.backButton {
    background-color: grey;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 5%;
    /* This is only Web version */
    /* margin-right: 40%; */
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

.backButton:hover {
color: black;
}

body {
    background-color: lightgray;
}

.container {
    border-radius: 10px;
}

div.exportContainer {
    position: absolute;
    margin-left: 30%;
}

.exportButton {
    border: none;
    color:#ffffff;
    background-color: #4C65E4;
    padding: 9px 20px 11px;
    border-radius: 5px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.flex-row {
    padding-top: 1.5%;
}

.btn-lg {
    text-align: left;
    color: black;
}

.bus {
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.bus_2 {
    text-transform: uppercase;
}

div.contentColumn {
    background-color: #EFEFEF;
    border: none;
    margin: 2px;
    top: 25%;
}

.title {
    color: #666666;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.007em;
    padding: 15px;
}

div.rowBox {
    margin-left: 10%; 
    margin-right: 10%; 
    padding-top: 10%;
}

div.adminColumn {
    background-color: #ffffff;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.007em;
    margin: 5px;
    padding-top: 70%;
    text-align: center;
}

/* User Color Buttons */

.teamBlue {
    color: #ffffff;
    background-color: #4c65e4;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamRed {
    color: #ffffff;
    background-color: #d93030;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamYell {
    background-color: #edd712;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamOra {
    background-color: #ff8329;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamPurple {
    background-color: #a14ce4;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamGold {
    background-color: #f1ae00;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.teamSilver {
    background-color: #9b9b9b;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

/* Medical Code Color */

.medkitGreen {
    color: #ffffff;
    background-color: #10880e;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.medkitYellow {
    background-color: #edd712;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.medkitRed {
    color: #ffffff;
    background-color: #ed1212;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

div.block {
    width: 55%; 
    border: none; 
    border-radius: 10px;
}

/* Mobile */
@media only screen and (max-width: 766px) {

    div.rowBox {
        margin-left: 0%; 
        margin-right: 0%; 
    }

    div.adminColumn{
        padding-top: 5%;
    }
}